APP_PORT=8080

DATABASE_URL=postgres://postgres:postgres@db:5432/StatusGuard?sslmode=disable
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=StatusGuard

CHECKER_WORKERS=5
SCHEDULER_INTERVAL_SECONDS=5

TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_CHAT_ID=your-telegram-chat-id

REDIS_URL=redis://redis:6379