APP_PORT=0000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/StatusGuard?sslmode=disable

ADMIN_PASSWORD=password

TELEGRAM_BOT_TOKEN=123456:ABCDEF_TOKEN
TELEGRAM_CHAT_ID=123456789

CHECKER_WORKERS=0